@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
@-webkit-keyframes spin {
  0% {
    transformY: rotate(0deg); }
  100% {
    transformY: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes float {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(20px); } }
@keyframes float {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(20px); } }
.primary-btn {
  background-color: #2980b9;
  color: red;
  font-weight: bold;
  text-decoration: none;
  padding: .25em 4em 0 4em;
  border-radius: 5px;
  display: inline-block;
  margin: .5em; }

.secondary-btn {
  background-color: red;
  color: red;
  font-weight: bold;
  text-decoration: none;
  padding: .25em 4em 0 4em;
  border-radius: 5px;
  display: inline-block;
  margin: .5em; }

html {
  font-family: "Patrick Hand SC", cursive; }

.background {
  background-image: url("../img/bg.jpg");
  background-size: auto;
  width: 100%;
  background-position: center; }

.white {
  color: #ffffff; }

.center-container {
  text-align: center;
  margin: 5%; }

.icon-alice {
  font-size: 20em;
  -webkit-animation: float 12s ease-in-out alternate infinite;
  animation: float 12s ease-in-out alternate infinite; }
  .icon-alice:hover {
    color: #66ccff; }
  .icon-alice:active {
    color: #00ff99; }

.icon-rabbit {
  font-size: 5em;
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-animation: spin 8s ease-in-out alternate infinite;
  animation: spin 8s ease-in-out alternate infinite; }
  .icon-rabbit:hover {
    color: #00ff99; }
  .icon-rabbit:active {
    color: #ffff00; }

.icon-teapot {
  font-size: 7em;
  position: absolute;
  top: 45%;
  right: 5%;
  -webkit-animation: spin 12s ease-in-out alternate infinite;
  animation: spin 12s ease-in-out alternate infinite; }
  .icon-teapot:hover {
    color: #ffff00; }
  .icon-teapot:active {
    color: #3333ff; }

.title {
  font-size: 2.5em;
  margin: 0; }

.subtitle {
  font-size: 1.25em;
  color: #00ff99; }

p {
  margin-top: 0; }

i {
  color: #ffffff; }

.icon-apple {
  font-size: 3em;
  position: absolute;
  top: 60%;
  left: 15%;
  -webkit-animation: float 6s ease-in-out alternate infinite;
  animation: float 6s ease-in-out alternate infinite; }
  .icon-apple:hover {
    color: #ff0000; }
  .icon-apple:active {
    color: #ff6600; }

.btn {
  background-color: #00ff99;
  color: red;
  font-weight: bold;
  text-decoration: none;
  padding: .25em 4em 0 4em;
  border-radius: 5px;
  display: inline-block;
  margin: .5em; }
  .btn:hover {
    background-color: blue; }

.btn i {
  vertical-align: baseline;
  padding-right: .5em; }
