.primary-btn, ul li:nth-child(3), li:nth-child(1) {
  display: inline-block;
  margin: 1em;
  padding: .5em 1em;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  background: #2980b9;
}

.primary-btn:hover, ul li:hover:nth-child(3), li:hover:nth-child(1) {
  background: black;
  color: grey;
  text-decoration: none;
}

.secondary-btn, ul li:nth-child(2) {
  display: inline-block;
  margin: 1em;
  padding: .5em 1em;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  background: red;
}

.secondary-btn:hover, ul li:hover:nth-child(2) {
  background: black;
  color: grey;
  text-decoration: none;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

.border {
  border: 2px solid red;
  background-color: gold;
  padding-left: 20px;
}

.border p {
  color: #666666;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
