$background: black;

$lightblue: #66ccff;
$aqua: #00ff99;
$yellow: #ffff00;
$orange: #ff6600;
$blue: #3333ff;
$grey: #9494b8;
$white: #ffffff;
$red: #ff0000;

$primary: $white;
$secondary: $aqua;

$patrick: 'Patrick Hand SC', cursive;
