$background: black;

$lightblue: lightblue;
$aque: aqua;
$yellow: yellow;
$orange: orange;
$blue: gold;
$grey: grey;
$white: white;
$red: red;

$primary: $white;
$secondary: $yellow;

$patrick: 'Patrick Hand SC', cursive;
