
@mixin button($bg-color){
  display: inline-block;
  margin: 1em;
  padding: .5em 1em;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  background: $bg-color;
  &:hover{
    background: black;
    color: grey;
    text-decoration: none;
  }
}

@mixin icon($size){
  font-size: ($size);
}

@mixin bg {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

@mixin spin {

}

@-webkit-keyframes spin {
    0% {
        transformY: rotate(0deg);
    }
    100% {
        transformY: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@mixin float {
  -webkit-animation: float 12s ease-in-out alternate infinite;
  animation: float 12s ease-in-out alternate infinite;
}

@-webkit-keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
}

@keyframes float{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
}

.primary-btn{
  @include button(#2980b9);
}

.secondary-btn{
  @include button(red);
}
