html {
  font-family: $patrick;
}

.background {
  @include bg;
}

.white {
  color: $white;
}

.center-container {
  text-align: center;
  margin: 5%;
}

.icon-alice {
  @include icon(20em);
  &:hover{
    color: $lightblue;
  }
  &:active{
    color: $aqua;
  }
  @include float;
}

.icon-rabbit {
  @include icon(5em);
  &:hover{
    color: $aqua;
  }
  &:active {
    color: $yellow;
  }
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-animation: spin 8s ease-in-out alternate infinite;
  animation: spin 8s ease-in-out alternate infinite;
}

.icon-teapot{
  @include icon(7em);
  position: absolute;
  top: 45%;
  right: 5%;
  -webkit-animation: spin 12s ease-in-out alternate infinite;
  animation: spin 12s ease-in-out alternate infinite;
    &:hover{
        color: $yellow;
    }
    &:active{
        color: $blue;
    }
}

.title {
  font-size: 2.5em;
  margin: 0;
}

.subtitle {
  font-size: 1.25em;
  color: $secondary;
}

p {
  margin-top: 0;
}

i {
  color: $white;
}

.icon-apple {
  @include icon(3em);
  &:hover {
    color: $red;
  }
  &:active {
    color: $orange;
  }
  position: absolute;
  top: 60%;
  left: 15%;
  -webkit-animation: float 6s ease-in-out alternate infinite;
  animation: float 6s ease-in-out alternate infinite;
}

.btn {
  background-color: #ccc;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: .25em 4em 0 4em;
  border-radius: 5px;
  display: inline-block;
  margin: .5em;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #aaa;
}

.btn i {
  vertical-align: baseline;
  padding-right: .5em;
}

