html {
  font-family: $patrick;
}

.background {
  background-color: $background;
}

.white {
  color: $white;
}

.center-container {
  text-align: center;
  margin: 5%;
}

.icon-alice {
  font-size: 20em;
  &:hover{
    color: $lightblue;
  }
  &:active{
    color: $aqua;
  }
  @include float;
}

.icon-rabbit {
  font-size: 5em;
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-animation: spin 8s ease-in-out alternate infinite;
  animation: spin 8s ease-in-out alternate infinite;
}

.icon-rabbit:hover{
  color: orange;
}

.icon-rabbit:active{
  color: yellow;
}

.icon-teapot{
  font-size: 7em;
  position: absolute;
  top: 45%;
  right: 5%;
  -webkit-animation: spin 12s ease-in-out alternate infinite;
  animation: spin 12s ease-in-out alternate infinite;
    &:hover{
        color: $yellow;
    }
    &:active{
        color: $blue;
    }
}

.title {
  font-size: 2.5em;
  margin: 0;
}

.subtitle {
  font-size: 1.25em;
  color: $secondary;
}

p {
  margin-top: 0;
}

i {
  color: $white;
}

.icon-apple {
  font-size: 3em;
  position: absolute;
  top: 60%;
  left: 15%;
  -webkit-animation: float 6s ease-in-out alternate infinite;
  animation: float 6s ease-in-out alternate infinite;
}

.icon-apple:hover {
  color: red;
}

.icon-apple:active {
  color: orange;
}

.btn {
  background-color: #ccc;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: .25em 4em 0 4em;
  border-radius: 5px;
  display: inline-block;
  margin: .5em;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #aaa;
}

.btn i {
  vertical-align: baseline;
  padding-right: .5em;
}



// Extend

ul li:nth-child(3), li:nth-child(1){
  @extend .primary-btn;
}

ul li:nth-child(2){
  @extend .secondary-btn;
}

a {
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

