html {
  font-family: $patrick;
}

.background {
  background-color: $background;
}

// Extend

ul li:nth-child(3), li:nth-child(1){
  @extend .primary-btn;
}

ul li:nth-child(2){
  @extend .secondary-btn;
}

a {
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

